@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel{
}

.alice-carousel__prev-btn{
	visibility: hidden;
}
.alice-carousel__next-btn{
	padding: 20px 10px;
	width:  80px !important;
	height:  80px !important;
}
.alice-carousel__next-btn-wrapper{
	width: 100%;
	height: 100%;
	font-size: 20px;
}
.alice-carousel__next-btn-item{
	background-color: #489F88;
	width: 80px;
	height: 80px;
	max-width: 100%!important;
	color: #fff !important;
}