@import '../../styles/btn.css';
@import '../typography.module.css';

.supporters{
	text-align: center;

	@nest & p{
		max-width: 600px;
		margin: 0 auto;
	}
}

.imgGrid{
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-column-gap: 35px;
	grid-row-gap: 35px;
}
.imgItem{
	position: relative;
	height: 141px;
	@nest & img{
		max-height: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}