@import '../../styles/btn.css';
@import '../typography.module.css';

.transform{
	text-align: center;
	margin-top: 40px;
  margin-bottom: -120px;
  color: #272629;
	@media (--media-max-desktop) {
    margin-top: -70px;
  } 
  @nest & h2 {
    padding-top: 25px;
    margin-bottom: 15px;
    @media (--media-max-desktop) {
      padding: 25px 10px 10px;
    }
  }
  @nest & h3 {
    padding: 15px 0px;
  }
  @nest & p{
    font-family: var(--base-font-family);   
    text-align: center;
    line-height: 34px;
    max-width: 710px;
    margin: 0 auto;
  }
}

.wrapper{
	display: flex;
	justify-content: space-between;
	padding: 60px 0 120px;
  @media (--media-min-desktop){
    @nest & .card:nth-child(2){
      transform: translateY(15%);
    }
  }
  @media (--media-max-desktop){
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
}
.imgContainer{
	position: relative;
  height: 50px;
  max-width: 150px;
  margin: 0 auto;
  overflow: hidden;
  top: 0;
  @nest & img {	
    height: 100%;
  }
}

.card{
	padding: 40px 40px 50px;
  background: #FDFDFD;
  box-shadow: 0 2px 20px 0 rgba(119, 119, 119, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  @media (--media-max-mini){
    width: 100%;
  }
}
.btnContainer{
  transform: translateY(60px);
  position: relative;
  z-index: 1;
  @nest & a{
    padding: 12px 50px;
  }
}