@import '../typography.module.css';

@import '../../styles/btn.css';

.webinar{
	padding-bottom: 120px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	z-index: 1;
}
.imgContainer{
	width: 50%;
}
.outerContainer{
	position: relative;
	height: 0;
	width: 100%;
	z-index: 0;
	@nest & img{
		position: absolute;
		right: 0;
		top: 0;
		transform: translateY(-25%);
		z-index: 0;
	}
}
.copyContainer{
	width: 40%;
	z-index: 1;
	@nest & a{
		padding: 12px 50px;
	}
}
.iconGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 80px;
	padding: 60px 0;
}
.iconCard{
	display: flex;
	justify-content: left;
	z-index: 1;
	@nest & img{
		width:  45px;
		padding-right: 20px;
	}
}